
<div align="center">
                <h1>Knock, knock. Who's there?<br>It's:</h1>
                        <h2>IP:</h2>
                     <p><font size="5" color="red"><%= @remote_ip %></font></p>
                        <h2>User Agent:</h2>
                     <p><font size="5" color="red"><%= @user_agent %></font></p>
</div>

